.perso-copy{
    background-color: #4682b4 !important;
}
.perso-pdf{
    background-color: #dc332f !important;
}
.perso-excel{
    background-color: #4aa33c !important;
}
.perso-csv{
    background-color: #e86c3a !important;
}
.perso-print{
    background-color: #8766b1 !important;
}
.perso-refresh{
    background-color: #4d99dc !important;
}
.perso-eye{
    background-color: #4682b4 !important;
}