<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %-5level @%X{RemoteUser} %class{50} %method[%line] - %msg%n%xEx</pattern>
    </encoder>
	</appender>
	
	
  <root level="INFO" >
    <appender-ref ref="CONSOLE" />
  </root>
  
	<logger name="org.springframework.web.context.ContextLoader" level="DEBUG" />

	<logger name="cm.purplemoney" level="DEBUG" />
	
	<logger name="org.apache.struts2" />
	
	<logger name="org.springframework"  />
	
	<logger name="com.opensymphony.xwork2"  />
	
	<logger name="org.quartz"  />
	
	<logger name="org.hibernate"  />

  <logger name="org.hibernate.SQL"  level="DEBUG"/>

  <logger name="org.hibernate.stat"  level="INFO"/>

  <logger name="org.reflections.Reflections"  />
	
  <logger name="com.googlecode" />
  

  
</configuration>

